.latestCreationsContainer {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;

  @media (max-width: 600px) {
    margin-bottom: 25rem;
  }

  @media (max-width: 500px) {
    margin-bottom: 15rem;
  }

  @media (max-width: 400px) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin-bottom: 8rem;
  }

  &__write-up {
    padding: 1rem 2rem;

    h1 {
      font-family: Montserrat, sans-serif;
      font-size: 4.2rem;
      font-weight: 700;
      letter-spacing: -0.3rem;
      line-height: 3.8rem;
      color: #333333;
    }

    h4 {
      font-size: 1.5rem;
      font-family: "Vollkorn", serif;
      font-weight: 400;
      letter-spacing: 0.1rem;
      color: #333;
    }

    p {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-family: "Source Sans Pro", sans-serif;
      color: #5c5c5c;
      font-weight: 400;
    }
  }
}

.latestCreations {
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus &__hover {
    opacity: 1;
    transition: all 1s;
  }

  &__hover {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--border {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10rem 5rem;
      border: 1px solid rgb(236, 232, 232);

      @media (max-width: 900px) {
        padding: 8rem 4rem;
      }

      @media (max-width: 800px) {
        padding: 6rem 3rem;
      }
    }

    h1 {
      color: rgb(236, 232, 232);
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 2.2rem;
      font-weight: 700;
    }

    h4 {
      font-size: 1.3rem;
      font-family: "Vollkorn", serif;
      font-weight: 400;
      letter-spacing: 0.1rem;
      color: rgb(236, 232, 232);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}
