.reviewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem;
}

.reviews {
  &__title {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    letter-spacing: -0.3rem;
    color: #333333;
  }

  &__sub-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #5c5c5c;
  }

  &__text {
    color: #333;
    font-size: 1.8rem;
    font-family: "Vollkorn", serif;
    margin-top: 2rem;
    text-align: center;
  }
}
