.navBarOptionsContainer {
  background-color: rgb(236, 236, 236);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  animation: fadeInBack 1s;

  &__svg {
    position: absolute;
    top: 5rem;
    right: 5rem;
    fill: #5c5c5c;
    width: 4rem;
    height: 4rem;
  }
}

@keyframes fadeInBack {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.navBarOptions {
  &__akindoju {
    color: #333;
    font-size: 6rem;
    font-family: "Qwigley", cursive;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    text-transform: uppercase;
    list-style: none;
    display: flex;

    li {
      margin-top: 2.5rem;
      font-size: 2.5rem;
      font-family: Montserrat, sans-serif;
    }
  }
}
