.navBar {
  padding: 1.8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;

  &__akindoju {
    color: white;
    font-size: 5rem;
    font-family: "Qwigley", cursive;
  }

  &__svg {
    fill: white;
    width: 3.5rem;
    height: 3.5rem;

    @media (min-width: 700px) {
      display: none;
    }
  }

  &__items {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    list-style: none;
    display: none;
    flex: 0.5;
    justify-content: space-between;

    @media (max-width: 900px) {
      flex: 0.65;
    }

    li {
      cursor: pointer;
      transition: 0.2s;

      &:hover,
      &:focus {
        color: black;
      }
    }

    @media (min-width: 700px) {
      display: flex;
    }
  }

  @media (min-width: 700px) {
    padding: 1.8rem 5rem;
  }
}

.navbar__mobile {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
