.navBar {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;

  &__akindoju {
    color: white;
    font-size: 5rem;
    font-family: "Qwigley", cursive;
  }

  &__items {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: Montserrat, sans-serif;
    list-style: none;
    display: flex;

    @media only screen and (max-width: 600px) {
      margin-left: 5rem;
    }

    li {
      cursor: pointer;
      transition: 0.2s;

      &:not(:last-child) {
        margin-right: 8rem;

        @media only screen and (max-width: 700px) {
          margin-right: 5rem;
        }

        @media only screen and (max-width: 600px) {
          margin-right: 3.5rem;
        }

        @media only screen and (max-width: 500px) {
          margin-right: 2.5rem;
        }
      }

      &:hover {
        color: black;
      }
    }
  }

  &__svg {
    fill: white;
    width: 3.5rem;
    height: 3.5rem;
  }
}

.navbar__mobile {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
