.carousel {
  position: relative;

  @media (min-width: 768px) {
    height: 98rem;
  }

  &--image {
    height: 70vh;
    max-height: 90vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;

    @media (min-width: 768px) {
      height: 98rem;
    }
  }

  &--text {
    position: absolute;
    top: 30rem;
    right: 8%;
    color: white;
    display: flex;
    flex-direction: column;

    &-main {
      font-family: Montserrat, sans-serif;
      font-size: 6rem;
      font-weight: 700;
      line-height: 5rem;
      letter-spacing: -0.3rem;

      @media (max-width: 350px) {
        font-size: 4rem;
        line-height: 4rem;
      }
    }

    &-sub {
      font-size: 1.7rem;
      font-family: "Vollkorn", serif;
      font-weight: 400;
      margin-top: 1rem;
      letter-spacing: 0.1rem;

      @media (max-width: 350px) {
        margin-top: 0.5rem;
      }
    }
  }
}
