.footer {
  background-color: rgb(37, 37, 37);
  padding-block: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 600px) {
    padding-block: 3rem;
    flex-direction: row;
    width: 100%;
    padding-inline: 8rem;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-menu {
      margin: 3rem 0 4rem 0;

      li > a {
        text-transform: uppercase;

        &:hover,
        &focus {
          color: white;
          cursor: pointer;
        }
      }

      @media (min-width: 600px) {
        margin: 0;
      }
    }

    &-address {
      @media (min-width: 600px) {
        align-self: flex-start;
      }
    }

    h1 {
      font-family: Montserrat, sans-serif;
      color: white;
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }

    li,
    li > a {
      list-style: none;
      font-size: 1.5rem;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      letter-spacing: 0.1rem;
      line-height: 2.5rem;
      text-align: center;
      color: rgb(201, 200, 200);
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
