.footerContainer {
  background-color: rgb(37, 37, 37);
  padding: 8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--menu {
    li {
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  h1 {
    color: #7d7d7d;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  ul {
    margin-top: 1.8rem;
  }

  li,
  li > a {
    list-style: none;
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgb(201, 200, 200);
    text-decoration: none;
  }
}
