.statsContainer {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
}

.stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;

  &__head {
    font-size: 5rem;
    font-family: Montserrat, sans-serif;
    color: #333333;
    line-height: 100%;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 4rem;
    }

    @media (max-width: 350px) {
      font-size: 3rem;
    }
  }

  &__details {
    font-size: 1.5rem;
    font-family: "Vollkorn", serif;
    text-align: center;
    color: #5c5c5c;

    @media (max-width: 600px) {
      font-size: 1.2rem;
    }

    @media (max-width: 350px) {
      font-size: 1rem;
    }
  }
}
